* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    padding: 60px 0;
    /*---->espacios entre contenedores*/
    width: 90%;
    max-width: 1000px;
    /*---->maximo valor*/
    margin: auto;
    /*---> todo centrado*/
    overflow: hidden;
    /*---->esconde lo que se quira salir del contenedor*/
}

.titulo {
    color: blue;
    font-size: 40px;
    /*---->tamanio de la letra*/
    text-align: center;
    /*---> texto centrado*/
    margin-bottom: 40px;
    /*--> para separa de la parte inferior */
}


/*header*/

header {
    width: 100%;
    height: 500px;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-linear-gradient(to right, #91EAE4, hsla(219, 66%, 72%, 0.61), hsla(240, 51%, 67%, 0.63)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, hsla(219, 66%, 72%, 0.61), hsla(240, 51%, 67%, 0.63)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    /*anlineacion en la pagina*/
    padding: 30px 50px 0 0;
    /*separaciones con otros elementos*/
}

nav>a {
    font-weight: 300;
    color: cornsilk;
    text-decoration: none;
    /*sin decoración*/
    font-size: 16px;
    /*tamanio de las letras*/
    margin-right: 10px;
    /*separcion uno de otro*/
}


/*cuando paso el mouse sobre el elemento*/

nav>a:hover {
    text-decoration: underline;
    /*con linea de decoración*/
}


/*configuramos la ola */

.wave {
    position: absolute;
    /*que la ola se vaya abajo de la imagen */
    bottom: 0;
    width: 100%;
    /*para que ocupte todo el ancho de la pagina*/
}

header .texto-cabecera {
    display: flex;
    /*divide los textos en columnas*/
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.texto-cabecera h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}

.texto-cabecera h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    /*reparte espacio equitativamente*/
}

.imagen-sobre-nosotros {
    width: 48%;
}

.nuestro-emprendimiento .contenedor-texto-nosotros {
    width: 40%;
}

.contenedor-texto-nosotros h3 {
    margin-bottom: 10px;
}

.contenedor-texto-nosotros h3 samp {
    background: blue;
    color: cornsilk;
    border-radius: 50%;
    display: inline-block;
    /*propiedad de bloque*/
    text-align: center;
    width: 30px;
    height: 23px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenedor-texto-nosotros p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*nuestros camiones*/

.nuestos-camiones {
    background: #f2f2f2;
}

.galeria-camiones {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-camion {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-camion>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(241, 60%, 48%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 100%;
    height: 70%;
}

.hover-galeria>p {
    color: lavender;
}

.imagen-camion:hover .hover-galeria {
    transform: scale(1);
}


/*colaboradores*/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #7F7FD5;
    display: flex;
    width: 48%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-left: 6px;
}

.card .contenido-texto-card h4 {
    margin-bottom: 10px;
}

.card .contenido-texto-card p {
    padding: 0 10px 20px 10px;
    font-weight: 300;
    text-align: justify;
}


/*servicios*/

.nuestros-servicios {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-int {
    width: 28%;
    text-align: center;
}

.servicio-int img {
    width: 90%;
    height: 100%;
}

.servicio-int h3 {
    margin: 10px 0;
}

.servicio-int p {
    font-weight: 300;
    text-align: justify;
}


/*footer*/

footer {
    background: rgba(0, 0, 0, .6);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    /*que se reparta la información equitativamente*/
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    /*--->linea debajo de los datos*/
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: seashell;
    border-bottom: 3px solid #7F7FD5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}


/*responsive*/

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nuestro-emprendimiento .contenedor-texto-nosotro {
        width: 100%;
    }
    .imagen-sobre-nosotros {
        width: 90%;
    }
    /*galeria*/
    .imagen-camion {
        width: 44%;
    }
    /*colaboradores*/
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card {
        width: 90%;
    }
    .cards .card:first-child {
        margin-bottom: 30px;
    }
    /*servicios*/
    .servicio-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servicio-int {
        width: 100%;
        text-align: center;
    }
    .servicio-int:nth-child(1),
    .servicio-int:nth-child(2) {
        margin-bottom: 60px;
    }
    .servicio-int img {
        width: 90%;
    }
}

@media screen and (max-width:220px) {
    nav {
        text-align: center;
        padding: 20px 0 0 0;
    }
    nav>a {
        margin-right: 5px;
    }
    .texto-cabecera h1 {
        font-size: 35px;
    }
    .texto-cabecera h2 {
        font-size: 10px;
    }
    .imagen-camion {
        width: 95%;
    }
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*footer*/
    .contenedor-footer {
        flex-direction: column;
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
}